body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.app{
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

nav {
  background-color: #4f4f4f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-button a:link{
  padding: 20px 30px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(14, 14, 245);
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 1.7;
  transition: 0.2s;
}


.link-button a:hover {
  background-color: rgb(53, 53, 255);
}
.link-button:active {
  transform: scale(0.9);
}
main{
  overflow: auto;
  text-align: center;
}

footer{
  background-color: #4f4f4f;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  color: white;
  text-decoration: none;

}

.images{
  margin: 0 auto;
  width: 80%;
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;

}
img:hover{
  transform: scale(1.08);
  transition: 0.2s;
}
.biden-theme{
  background: rgb(31, 31, 232);
    background: linear-gradient(180deg, rgba(31, 31, 232, 0.3393558106836485) 1%, rgba(249, 249, 249, 1) 100%);
}
.trump-theme{
  background: rgb(232, 31, 35);
    background: linear-gradient(180deg, rgba(232, 31, 35, 0.8379552504595589) 1%, rgba(249, 249, 249, 1) 100%);
}

.options-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.options{
  max-width: 200px;
  min-width: 150px;
  height: 100px;
  border: 1px solid black;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  padding: 5px;
  box-shadow: 2px 2px 4px black;
}

.options:hover{
  box-shadow: 3px 3px 5px black;
  transform: scale(1.08);
}
path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}
.donor {
  text-align: center;
  justify-content: center;
  display: flex;
  max-width: 1000px;
  background-color: white;
  margin: 10px auto;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.75);
}
.donor *{
  width: 30%;
  padding: 5px;
}

form{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form button{
  align-self: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color:rgb(31, 31, 232);
  color: white;
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
}
form button:hover{
  transform: scale(1.1);

}
form button:active{
  transform: scale(0.9);
}
label{
  font-size: 1.2rem;
  margin-right: 5px;
}

input{
  border: none;
  border-radius: 5px;
  padding: 3px;
  text-indent: 3px;
  font-family: inherit;
  font-size: 100%;
  margin-bottom: 10px;
}
